<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee; 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>Web Application</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>org.apache.tiles.extras.complete.CompleteAutoloadTilesListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>Tiles Dispatch</servlet-name>
		<servlet-class>org.apache.tiles.web.util.TilesDispatchServlet</servlet-class>
	</servlet>

	
	<servlet>
		<description></description>
		<display-name>CreateContentCtrler</display-name>
		<servlet-name>CreateContentCtrler</servlet-name>
		<servlet-class>nhom4.controller.CreateContentCtrler</servlet-class>
	</servlet>

	<servlet>
		<description></description>
		<display-name>ReadContentCrtler</display-name>
		<servlet-name>ReadContentCrtler</servlet-name>
		<servlet-class>nhom4.controller.ReadContentCrtler</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>UpdateContentCtrler</display-name>
		<servlet-name>UpdateContentCtrler</servlet-name>
		<servlet-class>nhom4.controller.UpdateContentCtrler</servlet-class>

	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteContentCtrler</display-name>
		<servlet-name>DeleteContentCtrler</servlet-name>
		<servlet-class>nhom4.controller.DeleteContentCtrler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateMemberCtrler</display-name>
		<servlet-name>UpdateMemberCtrler</servlet-name>
		<servlet-class>nhom4.controller.UpdateMemberCtrler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginCtrler</display-name>
		<servlet-name>LoginCtrler</servlet-name>
		<servlet-class>nhom4.controller.LoginCtrler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegisterCtrler</display-name>
		<servlet-name>RegisterCtrler</servlet-name>
		<servlet-class>nhom4.controller.RegisterCtrler</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Tiles Dispatch</servlet-name>
		<url-pattern>*.tiles</url-pattern>
	</servlet-mapping>

	<!--<servlet-mapping>
		<servlet-name>ContentServlet</servlet-name>
		<url-pattern>/ContentServlet</url-pattern>
	</servlet-mapping>-->

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>

	<!--<servlet-mapping>
		<servlet-name>DeleteContentCtrler</servlet-name>
		<url-pattern>/DeleteContentCtrler</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UpdateMemberCtrler</servlet-name>
		<url-pattern>/UpdateMemberCtrler</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginCtrler</servlet-name>
		<url-pattern>/LoginCtrler</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RegisterCtrler</servlet-name>
		<url-pattern>/RegisterCtrler</url-pattern>
	</servlet-mapping>-->
	<!--End tag web-app -->
</web-app>