@charset "ISO-8859-1";

#title {
	font-size: 20px;
}

#formAddContent {
	
	padding-top: 10px;
	padding-left: 20px;
}

hr {
	width: 100%;
	margin: 20px 0px;
}

#wrapper {
	/* width: 100%; */
	font-size: 16px;
}

#formAddContent #wrapper {
	border: var(--border-color);
	border-style: solid;
	border-width: 1.5px;
	border-radius: 3px;
}

#subTitle {
	background-color: #dee0e3;
	line-height: 44px;
	padding-left: 10px;
	font-size: 1em;
	font-weight: lighter;
}

#inputContent {
	padding-left: 10px;
	padding-top: 20px;
}

.item {
	margin-bottom: 20px;
	font-size: 1em;
}

.item label {
	display: block;
	padding-bottom: 10px;
	font-weight: 600;
}

.item input {
	width: 80%;
	border: var(--border-color);
	border-width: 1.5px;
	border-style: solid;
	border-radius: 3px;
	font-size: 1.2rem;
}

.item textarea {
	width: 80%;
	border: var(--border-color);
	border-width: 1.5px;
	border-style: solid;
	border-radius: 3px;
	font-size: 1.2rem;
}

.item button {
	background-color: white;
	font-size: 0.8rem;
	padding: 10px;
	border: var(--border-color);
	border-width: 1.5px;
	border-style: solid;
	border-radius: 3px;
}