@charset "UTF-8";

#main-content {
	padding-top: 10px;
	padding-left: 20px;
}

#primary-title {
	font-size: 20px;
}

hr {
	width: 100%;
	margin: 20px 0px;
}

.form {
	/* width: 100%; */
	font-size: 16px;
}

#main-content .form {
	border: var(--border-color);
	border-style: solid;
	border-width: 1.5px;
	border-radius: 3px;
}

#sub-title {
	background-color: whitesmoke;
	line-height: 44px;
	padding-left: 10px;
	font-size: 1em;
	font-weight: lighter;
}

#input-content {
	padding-left: 10px;
	padding-top: 16px;
}

.item {
	margin-bottom: 12px;
	font-size: 1em;
}

.item .form-label {
	display: block;
	padding-bottom: 10px;
	font-weight: 600;
}

.form-message {
	display: block;
}

.item.invalid .form-control {
  border-color: #f33a58;
}

.item.invalid .form-message {
  color: #f33a58;
}

.form-control {
	width: 80%;
	font-size: 1.2rem;
}

.form-control,.item-button{
	border: 1.5px solid var(--border-color);
	border-radius: 3px;
	padding: 10px;
}

.item-button {
	background-color: white;
	font-size: 0.8rem;
	cursor: pointer;
}