@charset "UTF-8";

.index {
	font-size: 30px;
}
.emailinput
{
	width: 80%;
	border-width: 1.5px;
	border-color: white;
	border-radius: 3px;
	font-size: 1.2rem;
	margin-top:10px;
	margin-bottom:10px;
}
.btn-space {
	font-size: 0.8rem;
	padding: 10px;
	border: var(--border-color);
	border-width: 1.5px;
	border-style: solid;
	border-radius: 3px;
	cursor: pointer;
}
.form-control {
    width: 80%;
	border: var(--border-color);
	border-width: 1.5px;
	border-style: solid;
	border-radius: 3px;
	font-size: 1.2rem;
	margin-top:10px;
}
.form-group {
	margin-top: 15px;
	width: 80%;
}

.labeltext {
	margin: 1px 1px 1px;
	font-weight: 700;
}

.labelelement {
	padding-left: -5px;
	margin: 1px 1px 1px;
}

.formEdit {
	padding-top: 10px;
	padding-left: 20px;
}



.mainFormElement {
	padding: 1em;
	background-color: whitesmoke;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px 10px 0px 0px;
	border-color: gray;
}

.form-element {
	padding: 1em;
	border-width: 1px;
	border: gray;
	border-top-width: 0;
	border-style: solid;
	border-radius: 0px 0px 10px 10px;
}

.formEdit {
	/* width: 60%; */
}