@charset "ISO-8859-1";

#header {
	width: 100%;
	height: 46px;
	background-color: whitesmoke;
	border: var(--border-color);
	border-width: 0 0 1px 0;
	border-style: solid;
}

#logo {
	line-height: 46px;
	float: left;
	padding: 0px 10px;
}

#nav {
	float: right;
	position: relative;
	right: 10px;
	height: 45px;
}

#nav li {
	display: inline-block;
}

#nav button {
	padding: 13px 20px;
    border: none;
    background: whitesmoke;
}

#nav button:hover {
	background-color: var(--hover-color);
	cursor: pointer;
}

#nav button i {
	/* line-height: 45px; */
	color: #000a8f;
}

#nav li a{
	text-decoration: none;
	line-height: 46px;
	padding: 0px 20px;
	color: #000a8f;
}

#subNav {
	width: 150px;
	background-color: white;
}

#subNav li a {
	color: #000221;
}

#nav #subNav {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	border: #e9e9f0;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	box-shadow: 1px 6px 14px #aeaeb5;
}

#nav #subNav li {
	width: 100%;
	border: #f5f5fc;
	border-style: solid;
	border-width: 1px;
}

.show {
	display: block !important;
}